// body {
//  	background:url(/images/background.jpg);
//  	background-repeat: no-repeat;
//     background-attachment:fixed;
//     background-position:100% 100%;
// }
body{
	margin:0px;
	background: url(/images/background.jpg) no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
	//博客内容透明化
	//文章内容的透明度设置
	.content-wrap {
	  opacity: 0.8;
	}
	
	 .post-block {
	    	background: rgba(255,255,255,0.7) none repeat scroll !important;
	    }
	

	.sidebar-inner {
	  background: rgba(255,255,255,0.7) none repeat scroll !important;
	  }
	
	//菜单栏的透明度设置
	.header-inner {
	  background: rgba(255,255,255,0.8);
	}
	
	//搜索框（local-search）的透明度设置
	.popup {
	  opacity: 0.8;
	}
.post {
   margin-top: 60px;
   padding: 10px;
   margin-bottom: 60px;
   -webkit-box-shadow: 0 0 5px rgba(120, 128, 114, 1.5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
}
